body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Світло-сірий фон для контрасту з хедером */
  color: #333; /* Основний колір тексту */
}

h1 {
  font-size: 36px;

  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
}

a {
  font-size: 18px;
  color: inherit;
}
a:hover {
  background-color: #f0db4f; /* Жовтий фон при наведенні */
  color: #333; /* Темний текст при наведенні */
}
